@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$col-pri: #0f9def;
$col-negro: #2a2929;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: content-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: $col-negro;
  padding: 30px;
  background-color: $col-pri;
}

h1 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: $col-pri;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-top: 10px;
  }

  input[type="number"],
  input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid $col-pri;
  }

  input[type="submit"] {
    background-color: $col-pri;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 30px;
    font-weight: bold;
  }
}

#logo {
  padding-bottom: 30px;
  display: inline-block;
  margin: 0 auto;
}

#section-login {
  margin-top: 30px;

  #section-login-column {
    background-color: white;
    padding: 45px;
    border-radius: 15px;
  }
}

@media (min-width: 1281px) {
}
