@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #2a2929;
  padding: 30px;
  background-color: #0f9def;
}

h1 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: #0f9def;
  margin-bottom: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

form label {
  margin-top: 10px;
}

form input[type="number"],
form input[type="text"],
form input[type="password"] {
  border: none;
  border-bottom: 1px solid #0f9def;
}

form input[type="onclick"] {
  background-color: #0f9def;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 30px;
  border-radius: 30px;
  font-weight: bold;
}

#logo {
  padding-bottom: 30px;
  display: inline-block;
  margin: 0 auto;
}

#section-login {
  margin-top: 30px;
}

#section-login #section-login-column {
  background-color: white;
  padding: 45px;
  border-radius: 15px;
}

nav ul li a:hover {
  background: brown;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

#div-logo img {
  width: auto;
  height: auto;
}
#div-logo img:hover {
  -webkit-transform: rotateY(360deg) scale(1);
          transform: rotateY(360deg) scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

footer h3 {
  grid-area: pie;
}

.footer-info {
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  background-color: #88b3e6;
}


.div-imagen1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: encabe2;
  padding: 20px;
}